.commandHistory {
  background-color: #1c1c1c;
  color: white;
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.hide {
    display: none;
  }

  h2 {
    margin: 20px;
    padding: 0;
  }

  .commandHistoryList {
    height: 100%;
    overflow-y: auto;
  }
}